@charset "UTF-8";
@media screen and (max-width:600px) {
   main#container{
    height: 500px ;
    width: 400px;
    grid-template-columns:400px ;
    grid-template-rows: 180px 1fr;
    grid-template-areas: "imagem" "formulario";
   }
   #formulario{
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: 130px 1fr;
   }
   form{
    align-self: center;
   }
   #formulario>form>h2{
    font-size: 25px;
    margin: 10px;
   }
  button{
    align-self: start;
    margin: 8px;
    height: 38px;
  }
input{
    height: 38px;
}
   nav{
    margin-top: 10px;
   }
}