@charset "UTF-8";
@media screen and (max-width:600px) {
   main#container{
    transition: width 1s, height 1s;
    height: 530px ;
    width: 300px;
    grid-template-columns:1fr ;
    grid-template-rows: 180px 1fr;
    grid-template-areas: "imagem" "formulario";
    animation: animação 0.5s linear;
   }
   #formulario{
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: 130px 1fr;
   }
   form{
    align-self: center;
   }
   #formulario>form>h2{
    font-size: 25px;
    margin: 10px;
   }
  button{
    
    margin-top: 15px;
    height: 38px;
    animation: animação 1.2s linear;
  }
  @keyframes animação {
    from{opacity: 0;}
    to{opacity: 1;}
  }
input{
    height: 38px;
}
   nav{
    margin-top: 5px;
   }
}